<%- include("../partials/header") %>
<%- include("../partials/menu") %>

<div class="container">
    <div class="p-3"> 
      <h1 class="justify-content-center">Periodico Digital</h1>
   </div>
  <div class="container" id="post_noticias_suscrito">
      <div class="row">
          <div class="col-12">
            <% posts.forEach((post) =>{ %>
              <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                  <div class="card-body">
                    <h5 class="card-title pb-1"><%= post.title  %></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= post.topic  %></h6>
                    <p class="card-text"><%= post.description %></p>
                    <p>Fecha de publicación: <%=  post.created.fecha %>,  Hora de publicación: <%= post.created.hora %> </p>
                  </div>
                </div>
               <% })  %>
                  
                </div>
          </div>
       </div>
       
  </div>

</div>


